.env
.env.development
.env.qa
Database
Config
local_projects
myenv
.pyc
aiagentenv
agentenv
*.pyc
.ipynb
Utils/.ipynb_checkpoints
Utils/file_mover.ipynb
.DS_Store
*.ipynb_checkpoints
*.ipynb
*.pyc
__pycache__/
*.log
*.DS_Store